

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-white: white;
    --clr-primary: #2684db;
    --clr-primaryop: #2684dbca;
    --clr-secondary: #2E35E7;
    --clr-dark: #6026DB;
    --clr-text: #0B365E;
    --clr-black: black;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}

body {
    margin: 0;
    padding: 0;

    background-size: cover;
    background-position: 0 -15vh;
    font-family: 'Archivo', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-black);
    line-height: 1.3rem;
    overflow-x: hidden;
}

header {
    padding: 1em;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--clr-black);
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 8rem;
    image-resolution: from-image snap;
}

.background {
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
}

.text {
    z-index: -1;
    padding: 0.6em;
    opacity: 1.5;   
}

h1 {
    font-size: 2.1rem;
    font-weight: var(--fw-bold);
    line-height: 2rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: var(--fw-normal);
    margin-bottom: 5px;
}

h5 {
    line-height: 1rem;
}

.image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: relative;
    margin: 1.4em;
    border: 1px solid;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.stl {
    background-image: url("images/STL.jpg");
    background-size: cover;
}

.tsa {
    background-image: url("images/tsa.jpg");
    background-size: cover;
}

.current {
    display: none;
}



@media  (min-width: 800px) {
    .container {
        display: grid; 
        grid-auto-columns: 1fr 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 25px; 
        margin-top: 3rem;
        padding: 10px;
    }
    .stl {
        grid: 1 / 2;
    }
    body {
        line-height: 1.6rem;
    }
    header {
        background-color: transparent;
        background-size: cover;

    }
    .image {
        display:  block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .last {
        margin-bottom: auto;
    }
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr; 
        gap: 0px 20px; 
        align-items: center; 
        margin-right: 20px;
      }
    .logo {
        width: 12rem;
        justify-items: center;
    }
    .nav__list{
        font-size: 1.8rem;
    }
    .current {
        color: black;
        font-size: 1.2rem;
        border-right: 1px solid;
        border-left: 1px solid;
        border-radius: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1350px) {
    body {
    }
}
@media(min-width: 1050px) {
    .current {
        display: block;
    }
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr  1fr; 
        gap: 0px 20px; 
        align-items: center; 
    }
    .logo {
        width: 15rem;
        justify-items: center;
    }
}




@keyframes animate {
    0%{
        transform: translateY(-130vh) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ff8040;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 13s linear infinite;
}




.background li:nth-child(0) {
    left: 29%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 74%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 82%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 39%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 61%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 0%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 21s;
}
.background li:nth-child(6) {
    left: 5%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 10s;
}
.background li:nth-child(7) {
    left: 33%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 33s;
}
.background li:nth-child(8) {
    left: 47%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 3%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 1s;
}