/* 
        Part of the lchsd.ch Website!

        Made by @Sprudeel (GitHub)

        Repository: https://github.com/Sprudeel/lchsd

        19.10.2021
*/


/* Set Box-Sizing to Border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Variables */
:root {
    --clr-white: white;
    --clr-primary: #2684db;
    --clr-primaryop: #2684dbca;
    --clr-secondary: #2E35E7;
    --clr-dark: #6026DB;
    --clr-text: #0B365E;
    --clr-black: black;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}

/* Body */
body {
    margin: 0;
    padding: 0;

    background-image: url("images/stacked-waves-haikei.svg");
    background-size: cover;

    font-family: 'Archivo', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-text);
    line-height: 1.5rem;
    overflow-x: hidden;
}

/* Header Containing Top Part */
header {
    padding: 1em;
    text-align: center;
}

/* Contains Links to other Pages */
.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--clr-black);
}

/* Links to the other Pages */
.nav__link {
    text-decoration: none;
    color: inherit;
}

/* Change Language Button German */
.lang {
    padding: 0;
    margin: 0;
    text-decoration: none;
    position: absolute;
    float: right;
    right: 1em;
    text-transform: uppercase;
    color: var(--clr-black);
    font-size: 0.725rem;
    top: 1em;
}

/* Change Language Button English */
.lang2 {
    top: 1em;
    position: absolute;
    left: 1em;
    text-transform: uppercase;
    color: var(--clr-black);
    font-size: 0.725rem;
    text-decoration: none;
}

/* LCHSD Logo */
.logo {
    width: 8rem;
    image-resolution: from-image snap;
}

/* Container of Paragraphs */
.text {
    z-index: -1;
    padding: 0.6em;
    opacity: 1.5;   
}

/* H1, Used in Paragraphs as Titles */
h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    line-height: 3rem;
}

/* H3, Used in Paragraohs as Texts */
h3 {
    font-size: 1.3rem;
    font-weight: var(--fw-normal);
    margin-bottom: 5px;
}

/* SVGs after Paragraphs */
.image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Last SVG, set a bit of a end */
.last {
    margin-bottom: 3rem;
}

/* Hide Currently Working on Nav Bar */
.current {
    display: none;
}

/* Media Query Change when min-width is more than 800px */
@media  (min-width: 800px) {

    /* Contains all Paragraphs */
    .container {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 25px; 
        margin-top: 3rem;
        padding: 10px;
    }
    /* Body */
    body {
        line-height: 1.6rem;
        background-image: url("images/layered-waves-haikei.svg");
        background-size: cover;
        background-position: bottom;
    }
    /* Header */
    header {
        background-color: transparent;
        background-size: cover;
    }
    /* SVGs after Paragraphs */
    .image {
        display:  block;
        margin-top: auto;
        margin-bottom: auto;
    }
    /* Last SVG, set a bit of a end */
    .last {
        margin-bottom: auto;
    }
    /* Navigation */
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns:27% 2fr 7%; 
        gap: 0px 10px; 
        align-items: center; 
        margin-right: 20px;
    }
    /* LCHSD Logo */
    .logo {
        width: 12rem;
        justify-items: center;
    }
    /* Contains Links to other Pages */
    .nav__list{
        font-size: 1.8rem;
    }
    /* Set Current Projects on Nav Bar */
    .current {
        color: black;
        font-size: 1.2rem;
        border-right: 1px solid;
        border-left: 1px solid;
        border-radius: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    /* Language Shit */
    .lang {
        position: relative;
        left: 0.5em;
        color: var(--clr-black);
        font-size: 0.725rem;
        text-decoration: none;
        vertical-align: middle;
        justify-self: center;
        top: 0.5em;
        bottom: auto;
        right: auto;
    }
    /* Language Shit 2 */
    .lang2 {
        position: relative;
        left: 1em;
        color: var(--clr-black);
        font-size: 0.725rem;
        text-decoration: none;
        vertical-align: middle;
        justify-self: center;
        top: 0.5em;
        bottom: auto;
        right: auto;
    }
}

/* Media Query Change when min-width is more than 1350px */
@media (min-width: 1350px) {
    /* Change some stuff */
    body {
        background-image: url("images/layered-waves-haikei.svg");
        background-size: cover;
        background-position: 0px -10vh;
    }
}

/* Media Query Change when min-width is more than 1050px */
@media(min-width: 1050px) {
    /* Current Project on Nav Bar */
    .current {
        display: inline;
        margin-left: 3em;
        text-align: center;
        max-width: 70%;
    }
    /* Set Navigation */
    .nav {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 25% 2fr 1fr 6%; 
    gap: 0px 20px; 
    align-items: center; 
    }
    /* LCHSD Logo */
    .logo {
        width: 15rem;
        justify-items: center;
    }
}