* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar {
    width: 100%;
    height: 15vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    
}

.logo {
    position: absolute;
    left: 5.1vw;
    top: 2.7vh;
    height: 10vh;
    width: auto;
}
.logo-container {
    flex: 2
}

.menu {
    flex: 6;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    right: 4vw;
}

button.menubtn {
    margin-top: 5vh;
    background-color: #C4C4C4;
    border: none;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    margin-left: -2.5vw;
    position: relative;
}

button.btn1 {
    border-radius: 38px 38px 38px 38px;
    background: linear-gradient(85.01deg, #2684DB 6.44%, rgba(38, 132, 219, 0.1) 97.24%) #c4c4c4;
    z-index: 10;
    position: relative;
}
button.btn2 {
    border-radius: 0px 38px 38px 0px;
}
button.btn3 {
    position: relative;
    z-index: 1;
}
 
.content {
    background-image: url("images/bg.svg");
    background-size: cover;
    position: absolute;
    top: 17vh;
    width: 110%;
    left: -1vw;
}

div.text {
    position: relative;

    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;

    color: #0B365E;
}