

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-white: white;
    --clr-primary: #2684db;
    --clr-primaryop: #2684dbca;
    --clr-secondary: #2E35E7;
    --clr-dark: #6026DB;
    --clr-text: #0B365E;
    --clr-black: black;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}

body {
    margin: 0;
    padding: 0;

    background-image: url("images/stacked-waves-haikei.svg");
    background-size: cover;
    font-family: 'Archivo', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-text);
    line-height: 1.3rem;
    overflow-x: hidden;
}

header {
    padding: 1em;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--clr-black);
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.lang {
    padding: 0;
    margin: 0;
    text-decoration: none;
    position: absolute;
    float: right;
    right: 1em;
    text-transform: uppercase;
    color: var(--clr-black);
    font-size: 0.725rem;
}

.lang2 {
    position: absolute;
    left: 1em;
    text-transform: uppercase;
    color: var(--clr-black);
    font-size: 0.725rem;
    text-decoration: none;
}

.logo {
    width: 8rem;
    image-resolution: from-image snap;
}

.background {
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
}

.text {
    z-index: -1;
    padding: 0.6em;
    opacity: 1.5;   
}
h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    line-height: 3rem;
}
h3 {
    font-size: 1.3rem;
    font-weight: var(--fw-normal);
    margin-bottom: 5px;
}
.image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.last {
    margin-bottom: 3rem;
}
.current {
    display: none;
}

@media  (min-width: 800px) {
    .container {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 25px; 
        margin-top: 3rem;
        padding: 10px;
    }
    body {
        line-height: 1.6rem;
        background-image: url("images/layered-waves-haikei.svg");
        background-size: cover;
        background-position: bottom;
    }
    header {
        background-color: transparent;
        background-size: cover;

    }
    .image {
        display:  block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .last {
        margin-bottom: auto;
    }
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr; 
        gap: 0px 20px; 
        align-items: center; 
        margin-right: 20px;
      }
    .logo {
        width: 12rem;
        justify-items: center;
    }
    .nav__list{
        font-size: 1.8rem;
    }
    .current {
        color: black;
        font-size: 1.2rem;
        border-right: 1px solid;
        border-left: 1px solid;
        border-radius: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1350px) {
    body {
        background-image: url("images/layered-waves-haikei.svg");
        background-size: cover;
        background-position: 0px -10vh;
    }
}
@media(min-width: 1050px) {
    .current {
        display: block;
    }
    .nav {
    display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr  1fr; 
        gap: 0px 20px; 
        align-items: center; 
    }
    .logo {
        width: 15rem;
        justify-items: center;
    }
}