

/* Standard */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Root */
:root {
    --clr-white: white;
    --clr-primary: #2684db;
    --clr-primaryop: #2684dbca;
    --clr-secondary: #2E35E7;
    --clr-dark: #6026DB;
    --clr-text: #0B365E;
    --clr-black: black;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}


/* Body and Normal */
body {
    margin: 0;
    padding: 0;

    /* background-image: url("images/stacked-peaks-haikei.svg"); */
    background-repeat: no-repeat;
    
    font-family: 'Archivo', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-black);
    line-height: 1.3rem;
}

/* Top Bar */
header {
    padding: 1em;
    text-align: center;
}


/* List Containing Different Pages */
.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--clr-black);
}

/* The Different Pages */
.nav__link {
    text-decoration: none;
    color: inherit;
}


/* LCHSD Logo */
.logo {
    width: 8rem;
    image-resolution: from-image snap;
}


/* Used No Where */
h1 {
    font-size: 2.1rem;
    font-weight: var(--fw-bold);
    line-height: 2rem;
    text-align: center;
}

/* Title With Line */
h2 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #808080;
    color: #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
h2 span {
    background: #fff;
    padding: 0 10px;
}



/* Hide big Tracker Calender */
.calcontainer {
    display: none;
}

/* Contains all Infos */
.container {
    margin: auto;
    width: 90%;
}
.currentinfos {
    margin-bottom: 2em;
}
h4 {
    margin-bottom: 3px;
}
.details {
    margin-left: 2em;
    line-height: 2rem;
}
.png {
    vertical-align: -5px;
}
.logogithub {
    width: 20px;
    vertical-align: -3px;
    margin-right: 3px;
}
.title {
    margin-top: 1.5em;
}

/* Hide Current in Nav Bar */
.current {
    display: none;
}



@media  (min-width: 800px) {
    
    body {
        line-height: 1.6rem;
        background-size: cover;
    }
    header {
        background-color: transparent;
        background-size: cover;

    }
    .image {
        display:  block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .last {
        margin-bottom: auto;
    }
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr; 
        gap: 0px 20px; 
        align-items: center; 
        margin-right: 20px;
      }
    .logo {
        width: 12rem;
        justify-items: center;
    }
    .nav__list{
        font-size: 1.8rem;
    }
    .current {
        color: black;
        font-size: 1.2rem;
        border-right: 1px solid;
        border-left: 1px solid;
        border-radius: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(min-width: 1050px) {
    .current {
        display: inline;
        margin-left: 3em;
        text-align: center;
        max-width: 70%;
    }
    .nav {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 30% 2fr  1fr; 
        gap: 0px 20px; 
        align-items: center; 
    }
    .logo {
        width: 15rem;
        justify-items: center;
    }
}



